.izquierda {
    background: var(--main-c);
    padding: 20px 25px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.badge-oferta {
    background: #e60000;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 0.98em;
    letter-spacing: 0.5px;
}

.izquierda h2 {
    margin-bottom: 12px;
    color: var(--white-c);
    font-size: 1.3em;
    font-weight: bold;
    color: var(--white-c);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#oferta-especial {
    margin-left: auto;
    margin-right: auto;
    background: var(--white-c);
    background: linear-gradient(#e60000, var(--black-c));
    color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease;
}

#oferta-especial:hover {
    transform: scale(1.03);
    border: 3px solid #e60000;
    cursor: pointer;
}


#oferta-especial p {
    color: var(--white-c);
}

.precio-anterior {
    color: #888;
    text-decoration: line-through;
    margin-right: 10px;
}

.precio-oferta {
    color: #e60000;
    font-weight: bold;
    font-size: 1em;
}