.search-box {
    display: flex;
    align-items: center;
    background: var(--white-c);
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--main-c);
    margin-top: 10px;
}

.search-box input {
    border: none;
    outline: none;
    padding: 8px;
    width: 240px;
    font-size: 14px;
    border-radius: 20px 0 0 20px;
}

.search-box button {
    border: none;
    background: var(--main-c);
    color: var(--white-c);
    padding: 8px;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
}