footer {
    background: var(--main-c);
    color: var(--white-c);
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    position: relative;
}

footer .redes {
    margin-top: 10px;
}

footer .redes a {
    color: var(--white-c);
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer .redes a:hover {
    color: var(--secondary-c);
}