header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-c);
    padding: 30px;
    color: var(--white-c);
    position: relative;
}

.logo-container {
    position: absolute;
    left: 10px;
    top: 1px;
}

.logo-container img {
    height: 200px;
    margin-right: 15px;
    margin-top: -10px;
}

.titulo-principal {
    text-align: center;
    color: var(--white-c);
}

.titulo-principal h1 {
    font-size: 2em;
    margin: 0;
}

.titulo-principal p {
    font-size: 1em;
    opacity: 0.8;
    margin-top: 10px;
}