header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-c);
    padding: 30px;
    color: var(--white-c);
    position: relative;
}

.logo-container {
    position: absolute;
    left: 10px;
    top: 1px;
}

.logo-container img {
    height: 200px;
    margin-right: 15px;
    margin-top: -10px; /* Levanta la imagen un poco hacia arriba */
}

header h1 {
    margin: 10px 0;
    text-align: center;
    flex: 1;
    /* Esto ayuda a centrar */
}

header h1 a {
    color: white;
    text-decoration: none;
}

header h1 a:hover {
    text-decoration: underline;
}